
.prev {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    box-shadow: none;
    padding: 0%;
    height: 10%;
    width: 10%;
}

.next {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    box-shadow: none;
    padding: 0%;
    height: 10%;
    width: 10%;
}

.pageTab {
    border: none;
    box-shadow: none;
    padding: 0%;
}
