@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import "compability.css";
@import "themes/newspaper.css";
@import "themes/fullscreen.css";

/* Styling for the tabs */
nav.storyteller-nav.tabs {
    flex: 0;
}

#story .document {
    line-height: 32px;
}

.window-app.story-sheet {
    background: none;
    border: none;
    box-shadow: none;
}

.window-app.story-sheet .window-header {
    border: none;
    padding: 0 4.3%;
    margin-top: 1.5%;
}

.window-app.story-sheet .window-content {
    background: none;
    overflow: initial;
    margin: 0 4% 3% 4%;
    padding: 0 0.34% 0.34% 0.34%;
    /* hack */
    height: 0;
}

.window-app.story-sheet .window-content form {
    height: 100%;
}

.story-sheet:before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background: url(../img/book.webp);
    background-size: 100% 100%;
    z-index: -1;
}

.story-sheet-background {
    content: " ";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000ba;
}

.story-sheet .pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    top: -2px;
}

.window-app.story-sheet .window-header .window-title {
    opacity: 0;
}

.page.left > .page-inner ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 5px;
    border: none;
    background: #74645526;
}

.page.left > .page-inner ::-webkit-scrollbar-track {
    background: transparent !important;
}

.story-sheet .page::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 5px;
    border: none;
    background: #74645526;
}

.story-sheet .page::-webkit-scrollbar-track {
    background: transparent !important;
}

.story-sheet .journal-page-content,
.story-sheet .page-num.num-start h1,
.story-sheet .page-num.num-start .pages-list>ol {
    font-family: 'Kurale', serif;
    font-size: 1.4vh;
    font-weight: 600;
    opacity: 0.9;
    color: #48392e;
    height: 100%;
}

.story-sheet .journal-page-content img {
    border: none;
}

.story-sheet .page-num.num-start .pages-list>ol>li .page-title{
    cursor: pointer;
}

.story-sheet .page-num.num-start .pages-list>ol>li:hover .page-title{
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

.story-sheet .page-num.num-start .pages-list>ol {
    font-size: 2.4vh;
}

.story-sheet .page-num.num-start .pages-list .headings {
    display: none;
}

.story-sheet .page-num.num-start {
    background-image: url(../img/right-page.webp);
    background-size: 100% 100%;
}

.story-sheet .page-num.num-start .journal-entry-page.pages-content {
    width: 100%;
    padding: 6%;
}

.story-sheet .page-num.num-start input{
    font-family: 'Kurale', serif;
    opacity: 0.9;
    color: #48392e;
    text-align: center;
    height: 2.5em;
    font-weight: 600;
    font-size: 2.5em;
}

.story-sheet .page-num.num-start .create{
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-border-light-tertiary);
}

.story-sheet.scrollable .page-num.num-start,
.story-sheet.scrollable .page-num.page{
    overflow-y: scroll;
}

.story-sheet .journal-entry-page.num-start.editor-edit {
    padding: 1.34% 4.34% 0.34% 4.34%;
}

.story-sheet .journal-entry-page.text {
    padding: 1.34% 4.34% 0.34% 4.34%;
}

.story-sheet .journal-entry-page.image,
.story-sheet .journal-entry-page.image figure{
    height: 100%;
    margin: 0;
}

.page-num.odd {
    background-image: url(../img/right-page.webp);
    background-size: 100% 100%;
}
.page-num.even {
    background-image: url(../img/left-page.webp);
    background-size: 100% 100%;
}

.story-sheet .editor-edit {
    display: block;
    top: 1.3%;
    right: 2%;
}

.page-num.odd .editor-edit {
    left: 2%;
    right: auto;
}

.story-sheet .journal-sheet-container,
.story-sheet .journal-entry-pages {
    width: 100%;
    height: 100%;
}

.story-sheet .story-settings {
    position: absolute;
    top: 50px;
    left: 50px;
}

.journal-entry-page.image figure img {
    -webkit-mask-image: url(../img/journal_mask.webp);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    height: 100%;
}