@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

/* Styling for the tabs */
nav.storyteller-nav.tabs {
    flex: 0;
}

#stories li.story {
    line-height: 32px;
}

.window-app.story-sheet {
    background: none;
    border: none;
    box-shadow: none;
}

.window-app.story-sheet .window-header {
    border: none;
    padding: 0 4.3%;
    margin-top: 1.5%;
}

.window-app.story-sheet .window-content {
    background: none;
    overflow: initial;
    margin: 0 4% 3% 4%;
    padding: 0.34%;
}

.story-sheet:before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background: url(../img/book.webp);
    background-size: 100% 100%;
    z-index: -1;
}

.story-sheet .pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.story-sheet .pages > .page {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    flex-shrink: 0;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}

.page > .page-inner {
    width: 100%;
    height: 100%;
}

.page.left > .page-inner {
    padding: 1% 7% 0px 4.25%;
}

.page.right > .page-inner {
    padding: 0% 0% 0% 2%;
}

.page.right > .page-inner .file-picker {
    display: none;
}

.page-inner .editor {
    font-family: 'Kurale', serif;
    margin: 0.5em 0;
    font-size: 1.3vh;
    font-weight: 600;
    opacity: 0.9;
    color: #48392e;
    height: 100%;
}

.page-inner .image-container {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-color: #80808033;
    background-size: cover;

    -webkit-mask-image: url(../img/journal_mask.webp);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.story-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
}

.story-submit{
    position: relative;
    width: 94%;
    top: -1.5%;
    left: 3%;
    border: none;
}

.storyteller-tooltip {
    padding-top: 45%;
    color: black;
    font-size: 26px;
    text-align: center;
}

.storyteller-nav .item.active {
    text-shadow: 0 0 10px red;
    border-bottom: 2px solid red;
}

#stories .directory-list {
    height: 90%;
}