@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import "compability.css";
@import "themes/broadsheet.css";
@import "themes/newspaper.css";
@import "themes/fullscreen.css";

.window-app.story-sheet-reverse {
    background: none;
    border: none;
    box-shadow: none;
}

.window-app.story-sheet-reverse .window-header {
    border: none;
    padding: 0 4.3%;
    margin-top: 1.5%;
}

.window-app.story-sheet-reverse .window-content {
    background: none;
    overflow: initial;
    margin: 0 4% 3% 4%;
    padding: 0.34%;
    /* hack */
    height: 0;
}

.window-app.story-sheet-reverse .window-content form {
    height: 100%;
}

.story-sheet-reverse:before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background: url(../../img/book.webp);
    background-size: 100% 100%;
    z-index: -1;
}

.story-sheet-reverse .pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.story-sheet-reverse .pages > .page {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    flex-shrink: 0;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}

.page.rright {
    height: 100%;
}

.page.rright > .page-inner {
    padding: 1% 6% 6% 6.25%;
    height: 100%;
}

.page.rleft > .page-inner {
    padding: 2% 0% 0% 0%;
}

.story-sheet-reverse .story-submit{
    position: relative;
    width: 94%;
    top: -1.5%;
    left: 3%;
    border: none;
}
