.window-app.story-cover {
    background: none;
    border: none;
    box-shadow: none;
}

.window-app.story-cover .window-header {
    border: none;
    padding: 0 4.3%;
    margin-top: 1.5%;
}

.window-app.story-cover .window-content {
    background: none;
    overflow: initial;
    margin: 0 4% 3% 4%;
    padding: 0.34%;
    /* hack */
    height: 0;
}

.window-app.story-cover .window-content form {
    height: 100%;
}

.story-cover:before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background: url(../../img/cover.webp);
    background-size: 100% 100%;
    z-index: -1;
}

.story-cover .pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.story-cover .pages > .page {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    flex-shrink: 0;
}

.story-cover .pages .page {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
/*
.story-cover .pages .page > .page-inner {
    padding: 1% 6% 6% 6.25%;
    height: 100%;
}
*/
/* top right bottom left */
.story-cover .pages .page > .page-inner {
    padding: 1% 1% 1% 1%;
    position: relative;
    bottom: -10px;
    right: -10px;
}

.page-inner .coverimage-container {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-color: #80808033;
    background-size: contain;
    background-repeat: no-repeat;

    -webkit-mask-image: url(../../img/journal_mask.webp);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}
