<form class="{{cssClass}}" autocomplete="off">
    <div class="pages">
        <div class="page">
            <div class="page-inner settings hidden">
                <div class="settings">
                    <label>{{ localize "STORYTELLER.StoryName"}}</label>
                    <input name="name" type="text" value="{{data.name}}" placeholder="Entry Title"/>
                </div>
                {{#if editable}}
                <button type="submit" name="submit" class="story-submit"><i class="fas fa-feather-alt"></i> {{ localize "JOURNAL.Submit"}}</button>
                {{/if}}
            </div>
            <div class="page-inner">
                {{editor content=data.content target="content" button=true editable=editable owner=owner}}
            </div>
            <div class="prev">
                <img src="modules/storyteller/img/left-tab.png" class="pageTab" name="{{data.name}}" onclick="game.StoryTeller.showPrevPage(this.name)" title="Previous Page" onmouseenter="this.src ='modules/storyteller/img/left-tab.gif';" onmouseout="this.src ='modules/storyteller/img/left-tab.png';" />
            </div>
            <div class="next">
                <img src="modules/storyteller/img/right-tab.png" class="pageTab" name="{{data.name}}" onclick="game.StoryTeller.showNextPage(this.name)" title="Next Page" onmouseenter="this.src ='modules/storyteller/img/right-tab.gif';" onmouseout="this.src ='modules/storyteller/img/right-tab.png';" />
            </div>
        </div>
    </div>
</form>
