<nav class="storyteller-nav tabs" data-group="storyteller-tabs">
	<a class="item" data-tab="journal" data-group="storyteller-tabs">{{ localize "STORYTELLER.Journal" }}</a>
	<a class="item" data-tab="stories" data-group="storyteller-tabs">{{ localize "STORYTELLER.Stories" }}</a>
</nav>
